<!-- #region formulario paciente -->
<dx-form labelLocation="top" [formData]="" class="container my-10">
  <!-- #region groupPaciente -->
  <dxi-item
    itemType="group"
    caption="Paciente"
    itemType="group"
    [colCount]="12"
  >
    <!-- #region inputIdentificacion -->
    <dxi-item
      cssClass="search-quiron label-start"
      itemType="group"
      [colSpan]="3"
    >
      <dxi-item
        dataField="Identificacion"
        [editorOptions]="{ inputAttr: { 'data-tag-id': 'identificacion' } }"
      >
        <dxo-label text="Identificacion"></dxo-label>
      </dxi-item>
    </dxi-item>
    <!-- #endregion -->
    <!-- #region inputNombres -->
    <dxi-item
      cssClass="search-quiron label-start"
      itemType="group"
      [colSpan]="3"
    >
      <dxi-item dataField="nombresPaciente" [colSpan]="11">
        <dxo-label text="Nombres"></dxo-label>
      </dxi-item>
    </dxi-item>
    <!-- #endregion -->
    <!-- #region inputApellidos -->
    <dxi-item
      cssClass="search-quiron label-start"
      itemType="group"
      [colSpan]="3"
    >
      <dxi-item
        dataField="apellidosPaciente"
        [editorOptions]="{ inputAttr: { 'data-tag-id': 'apellidosPaciente' } }"
      >
        <dxo-label text="Apellidos"></dxo-label>
      </dxi-item>
    </dxi-item>
    <!-- #endregion -->
    <!-- #region inputEps -->
    <dxi-item
      [colSpan]="3"
      dataField="institucion"
      [editorOptions]="{
        inputAttr: { 'data-tag-id': 'institucion' },
        readOnly: true
      }"
    >
      <dxo-label text="Institución"></dxo-label>
    </dxi-item>
    <!-- #endregion -->
  </dxi-item>
  <!-- #endregion -->
</dx-form>
<dx-form class="container my-5"> </dx-form>
<!-- #endregion -->
